.divMain15{
    display: grid;

    grid-template-columns: 2fr 2fr;   /* 1 fraction ofthe total remaining space // or use repeat(2, 1fr) */ 
    grid-template-rows: repeat(1, 1fr);  /* row 1 and row 2 */
    column-gap: 0.5rem;
    justify-content: stretch;

    box-sizing: border-box;
    
    font-size: 2rem;
    color: #808285;   
 
    /* background-color: 'gree'; */
    /* background-color: red;    */

    
}

.divMainbody15{

    width: 490px;
    height: 400px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #000000;
     
    background-color: #C4C4C4;
    border-radius: 10px;

}