.divMain13{
    display: grid;

    grid-template-columns: 2fr 2fr 2fr;   /* 1 fraction ofthe total remaining space // or use repeat(2, 1fr) */ 
    /* grid-template-rows: repeat(1, 1fr);   */
    column-gap: 2rem;

    box-sizing: border-box;
    
    font-size: 1.5rem;
    color: #808285;   
 
    /* background-color: 'gree'; */
    /* background-color: red;    */

    
}